<template>
    <div class="hello" style="position:relative; bottom:60px"><br><br>
    <center><br>
      <div style="background-color:#333; padding:20px; position:relative; bottom:50px;" class="col-sm-10 col-sm-offset-1">
          <b><i style="color:white;">Rumah Masakan Cina</i></b>
      </div><br><br><br><br><br>
    <table style="position:relative; bottom:120px;">
      <tr>
        <td><router-link to="/menu"><img src="../assets/menu.png" style="position:relative; right:60px; bottom:10px; border-radius:50%; height:263px; "><h2 style="position:relative; left:0px;">Menu Masakan</h2></router-link></td>
        <td><router-link to="/pegawai"><img src="../assets/pegawai.png" style="position:relative; left:20px; bottom:10px; border-radius:50%; height:260px;"><h2 style="position:relative; left:105px;">Pegawai</h2></router-link></td>
      </tr>
    </table>
    <div style="background-color:#333; padding:20px; position:relative; bottom:50px;" class="col-sm-10 col-sm-offset-1">
        <b><i style="color:white;">@Copyright.Daffa-Shi</i></b>
    </div>
    </center>
    </div>
</template>
