<template>
  <div class="hello" style="position:relative; bottom:60px">
    <p style="color:grey; font-size:20px;">____________________________________________________________________________</p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">____________________________________________________________________________</p>
    <center>
    <router-link to="/pegawai">
    <button type="button" class="btn btn-md btn-primary" style="position:relative; bottom:10px; right:390px;">back</button>
    </router-link>
    <h2>Data Pegawai</h2>
    <form @submit.prevent="submitForm">
    <table class="table table-hover table-striped" style="width:830px; border-bottom:1px solid lightgrey;" >
      <tr>
        <td><label>Nama Pegawai </label></td>
        <td><input type="text" v-model="pegawai.nama_pegawai"  class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Jenis Kelamin </label></td>
        <td><input type="text" v-model="pegawai.jenis_kelamin"  class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Umur </label></td>
        <td><input type="text"  v-model="pegawai.umur" class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Alamat </label></td>
        <td><input type="text" v-model="pegawai.alamat" class="form-control" required></td>
      </tr>
    </table>
    <button type="submit" class="btn btn-lg btn-info" style="position:relative; left:360px;">Save</button>
    </form>
    </center>
    <p style="color:grey; font-size:20px;">____________________________________________________________________________</p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">____________________________________________________________________________</p>
    <p class="top-right"><b><i>@copyright.Daffa-Shi 2019</i></b></p>
  </div>
</template>
<script>
import {api} from '@/helper/api'

export default {
  name: 'PegawaiForm',
  data () {
    return {
      pegawai: {
        id: null,
        nama_pegawai: '',
        jenis_kelamin: '',
        umur: '',
        alamat: ''
      }
    }
  },
  mounted () {
    let id = this.$route.params.id

    if (id) {
      let url = 'http://localhost/RumahMakanCina/public/pegawai/'
      api.get(url + id).then(res => {
        this.pegawai = res.data.result
      })
    }
  },
  methods: {
    submitForm () {
      let data = this.pegawai
      let url = 'http://localhost/RumahMakanCina/public/pegawai'

      if (this.pegawai.id) {
        url += '/' + this.pegawai.id
      }

      api.post(url, data).then(res => {
        if (res.data.status === 'success') {
          this.$router.push('/pegawai')
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    }
  }
}
</script>
